/*@media (min-width: 0px) and (max-width: 480px) {

}

@media (min-width: 481px) and (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px) {
  
}*/

@media (max-width: 480px) {}

@media (max-width: 767px) {
  header {
    max-width: 767px;

    .header__menu_container {
      width: 80%;
      margin: 0 auto 200px;

      .header__menu__container__menu {
        display: none;
      }

      .header__mobile_menu {
        display: block;
      }
    }

    .header__container {
      width: 80%;
      padding-bottom: 300px;

      h1 {
        font-size: 60px;
      }

      p {
        font-size: 25px;
      }
    }
  }

  .about {
    max-width: 767px;
    padding: 50px 0 25px;

    .about__container {
      width: 80%;
      flex-direction: column;

      .about__container__picture {
        width: 100%;

        img {
          width: 100%;
          height: 75%;
          flex-shrink: 0;
        }
      }

      .about__container__text {
        & p:nth-child(2) {
          margin: 35px 0 50px 0;
        }
      }
    }
  }

  .SERVICESES {
    max-width: 767px;

    .SERVICESES__grid_container {
      .SERVICESES__OUR_SERVICES {
        h3 {
          font-size: 20px;
        }

        p {
          font-size: 16px;
        }
      }

      .SERVICESES__GRAPHIC_DESIGN {
        h3 {
          font-size: 20px;
        }

        p {
          font-size: 16px;
        }
      }

      .SERVICESES__WEB_DEVELOPMENT {
        h3 {
          font-size: 20px;
        }

        p {
          font-size: 16px;
        }
      }

      .SERVICESES__SEO_MARKETING {
        h3 {
          font-size: 20px;
        }

        p {
          font-size: 16px;
        }
      }

      .SERVICESES__MOBILE_DEVELOPMENT {
        h3 {
          font-size: 20px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }

  .works {
    max-width: 767px;

    .works__slider {
      width: 80%;
    }
  }

  .our_team {
    max-width: 767px;
    margin: 0 auto;
    padding: 55px 0 55px 0;

    .our_team__slider {
      margin: 0 auto;
      width: 350px;
    }

    h2 {
      margin: 35px 0 55px;
    }
  }

  .contact {
    max-width: 767px;

    .contacts__input {
      top: 400px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto;
      gap: 30px 0px;
      grid-template-areas:
        "name"
        "mail"
        "message"
        "message"
        "buttoh"
        "buttoh";
    }

    .home {
      right: 0;
    }
  }

  footer {
    max-width: 767px;
    padding: 20px 0 20px;

    .footer__container {
      flex-direction: column-reverse;
      justify-content: space-around;

      li {
        margin: 0 25px 25px 0;
      }
    }
  }


}

@media (max-width: 991px) {
  header {
    max-width: 991px;

    .header__menu_container {
      width: 80%;
    }
  }

  .about {
    max-width: 991px;
    padding: 50px 0 25px;

    .about__container {
      width: 80%;
      flex-direction: column;

      .about__container__picture {
        width: 100%;

        img {
          width: 100%;
          height: 75%;
          flex-shrink: 0;
        }
      }

      .about__container__text {
        & p:nth-child(2) {
          margin: 35px 0 50px 0;
        }
      }
    }
  }

  .SERVICESES {
    max-width: 991px;

    .SERVICESES__grid_container {
      width: 80%;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 400px 399px 400px;
      gap: 0px 0px;
      grid-template-areas:
        "SERVICESES__GRAPHIC_DESIGN SERVICESES__OUR_SERVICES"
        "SERVICESES__SEO_MARKETING SERVICESES__OUR_SERVICES"
        "SERVICESES__MOBILE_DEVELOPMENT SERVICESES__WEB_DEVELOPMENT";

      .SERVICESES__OUR_SERVICES {
        padding: 100px 20px 0;
      }

      .SERVICESES__GRAPHIC_DESIGN {
        padding: 100px 30px 0;
      }

      .SERVICESES__WEB_DEVELOPMENT {
        padding: 100px 30px 0;
      }

      .SERVICESES__SEO_MARKETING {
        padding: 100px 30px 0;
      }

      .SERVICESES__MOBILE_DEVELOPMENT {
        padding: 100px 30px 0;
      }
    }
  }

  .works {
    max-width: 991px;

    .works__slider {
      width: 80%;
    }
  }

  .our_team {
    max-width: 991px;
    padding: 55px 0 55px 0;

    .our_team__slider {
      margin: 0 auto;
      width: 350px;
    }

    h2 {
      margin: 35px 0 55px;
    }
  }

  .contact {
    max-width: 991px;

    .contacts__input {
      width: 80%;
    }

    .home {
      right: 0;
    }
  }

  footer {
    max-width: 991px;
  }
}

@media (max-width: 1300px) {
  header {
    max-width: 1300px;
  }

  .about {
    max-width: 1300px;
  }

  .SERVICESES {
    max-width: 1300px;
  }

  .works {
    max-width: 1300px;
  }

  .our_team {
    max-width: 1300px;

    .our_team__slider {
      width: 730px;
    }
  }

  .contact {
    max-width: 1300px;
  }

  footer {
    max-width: 1300px;
  }
}

@media (min-width: 1301px) {
  header {
    width: 100%;
  }

  .about {
    width: 100%;
  }

  .SERVICESES {
    width: 100%;
  }

  .works {
    width: 100%;
  }

  .our_team {
    width: 100%;
  }

  .contact {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}