@font-face {
  font-family: "Proxima Nova Bold";
  src: url(../fonts/ProximaNova-Bold.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Semibold";
  src: url(../fonts/ProximaNova-Semibold.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSans Bold";
  src: url(../fonts/PTSans-Bold.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSans Italic";
  src: url(../fonts/PTSans-Italic.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSans Regular";
  src: url(../fonts/PTSans-Regular.woff);
  font-weight: normal;
  font-style: normal;
}

html {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
}

header {
  margin: 0 auto;
  width: 100%;
  background: url(../img/bgd/header_bgd.png) no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  background-attachment: fixed;
  padding-top: 35px;

  .header__menu__container {
    display: flex;
    width: 70%;
    margin: 0 auto 330px;
    justify-content: space-between;
    align-items: center;

    img {
      padding-bottom: 10px;
    }

    .header__menu__container__menu {
      display: flex;
      width: 51%;
      justify-content: space-between;

      .header__menu__container__menu_link {
        font-family: "Proxima Nova Semibold";
        font-size: 24px;
        color: #fff;
        text-transform: uppercase;
        border-bottom: 2px solid transparent;
        transition: 0.3s;
        padding-bottom: 10px;

        &:hover {
          border-bottom: 2px solid #fff;
        }
      }
    }
  }

  .header__container {
    margin: 0px auto;
    padding: 0 0 445px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 59%;

    h1 {
      font-family: "Proxima Nova Bold";
      font-size: 71px;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 45px;
    }

    p {
      font-family: "PTSans Italic.woff";
      font-size: 30px;
      color: #fff;

    }
  }
}

.about {
  margin: 0 auto;
  width: 100%;
  padding: 125px 0;
  background-color: #ebebeb;
  background-size: 100% 100%;

  .about__container {
    margin: 0 auto;
    display: flex;
    width: 71%;

    .about__container__picture {
      margin-right: 125px;
    }

    .about__container__text {
      padding-top: 80px;
      font-family: "PTSans Regular";
      font-size: 20px;
      color: #665f60;
      position: relative;

      & p:nth-child(2) {
        margin: 35px 0 95px;
      }

      span {
        font-family: "PTSans Bold";
      }

      .about__btn {
        position: absolute;
        left: 44%;
        font-family: "PTSans Italic";
        font-size: 20px;
        color: #7d7a7c;
        padding: 20px 50px;
        border: 1px solid #7d7a7c;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
          background-color: #7d7a7c;
          color: #fff;
          box-shadow: 1px 0px 10px 0px rgba(9, 141, 242, 0.48);
        }
      }
    }
  }
}

.SERVICESES {
  margin: 0 auto;
  width: 100%;
  background-color: #ebebeb;
  background-size: 100% 100%;

  .SERVICESES__grid_container {
    margin: 0 auto;
    width: 71%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 400px 399px;
    gap: 0px 0px;
    grid-template-areas:
      "SERVICESES__GRAPHIC_DESIGN SERVICESES__WEB_DEVELOPMENT SERVICESES__OUR_SERVICES"
      "SERVICESES__SEO_MARKETING SERVICESES__MOBILE_DEVELOPMENT SERVICESES__OUR_SERVICES";

    .SERVICESES__OUR_SERVICES {
      grid-area: SERVICESES__OUR_SERVICES;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 110px 65px 0;
      background: url(../img/img/unsplash_523ae1f5502d6_1.png) no-repeat;
      background-position: cover;
      background-size: 100% 100%;

      img {
        width: 62px;
      }

      h2 {
        margin: 30px 0 123px 0;
        font-family: "Proxima Nova Semibold";
        font-size: 35px;
        color: #fff;
      }

      p {
        display: block;
        text-align: center;
        font-family: "PTSans Italic";
        font-size: 18px;
        color: #fff;

        span {
          font-family: "PTSans Bold"
        }
      }
    }
  }

  .SERVICESES__GRAPHIC_DESIGN {
    grid-area: SERVICESES__GRAPHIC_DESIGN;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 70px 0;
    background-color: #dbdbdb;

    img {
      width: 47px;
    }

    h3 {
      margin: 30px 0 25px 0;
      font-family: "PTSans Bold";
      font-size: 24px;
      color: #665f60;
    }

    p {
      display: block;
      text-align: center;
      font-family: "PTSans Italic";
      font-size: 18px;
      color: #665f60;
    }
  }

  .SERVICESES__WEB_DEVELOPMENT {
    grid-area: SERVICESES__WEB_DEVELOPMENT;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 70px 0;

    img {
      width: 58px;
    }

    h3 {
      margin: 30px 0 25px 0;
      font-family: "PTSans Bold";
      font-size: 24px;
      color: #665f60;
    }

    p {
      display: block;
      text-align: center;
      font-family: "PTSans Italic";
      font-size: 18px;
      color: #665f60;
    }
  }

  .SERVICESES__SEO_MARKETING {
    grid-area: SERVICESES__SEO_MARKETING;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 70px 0;

    img {
      width: 47px;
    }

    h3 {
      margin: 30px 0 25px 0;
      font-family: "PTSans Bold";
      font-size: 24px;
      color: #665f60;
    }

    p {
      display: block;
      text-align: center;
      font-family: "PTSans Italic";
      font-size: 18px;
      color: #665f60;
    }
  }

  .SERVICESES__MOBILE_DEVELOPMENT {
    grid-area: SERVICESES__MOBILE_DEVELOPMENT;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 65px 0;
    background-color: #dbdbdb;

    img {
      width: 36px;
    }

    h3 {
      margin: 30px 0 25px 0;
      font-family: "PTSans Bold";
      font-size: 24px;
      color: #665f60;
    }

    p {
      display: block;
      text-align: center;
      font-family: "PTSans Italic";
      font-size: 18px;
      color: #665f60;
    }
  }
}

.works {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding: 50px 0 0 0;
  background: url(../img/bgd/works_bgd.png) no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 100% 100%;

  h2 {
    margin: 35px 0 70px;
    font-family: "Proxima Nova Semibold";
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
  }

  .works__slider {
    margin: 0 auto 50px;
    width: 45.63%;
    position: relative;
  }

  .slick-track {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .slick-list {
    overflow: hidden;
  }

  .slick-arrow {
    position: absolute;
    top: 40%;
    z-index: 1;
    font-size: 0;
    width: 22px;
    height: 38px;
    border: none;
    cursor: pointer;
  }

  .slick-arrow:active,
  .slick-arrow:focus {
    outline: none;
  }

  .slick-arrow.slick-prev {
    left: -30%;
    background: url(../img/icons/arrow_left.png) 0 0 / 100% no-repeat;
  }

  .slick-arrow.slick-next {
    right: -30%;
    background: url(../img/icons/arrow_right.png) 0 0 / 100% no-repeat;
  }

  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .slick-dots li {
    margin: 45px 5px 0 0;
    padding: 0;
  }

  .slick-dots li button {
    display: block;
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 0;
  }

  .slick-dots li.slick-active {
    font-size: 0;
    background-color: #fff;
    border-radius: 50%;
    padding: 0;
  }

  .works__btn {
    font-family: "PTSans Italic";
    font-size: 20px;
    color: #fff;
    padding: 20px 45px;
    margin-bottom: 50px;
    border: 1px solid #fff;
    background-color: transparent;
    transition: 0.3s;
    cursor: pointer;


    &:hover {
      background-color: #fff;
      color: #b5b3d7;
      box-shadow: 1px 0px 10px 0px rgba(9, 141, 242, 0.48);
    }
  }
}

.our_team {
  margin: 0 auto;
  width: 100%;
  padding: 55px 0 100px 0;
  background-color: #ebebeb;
  background-size: 100% 100%;
  text-align: center;

  h2 {
    margin: 35px 0 195px;
    font-family: "Proxima Nova Semibold";
    font-size: 36px;
    color: #665f60;
    text-transform: uppercase;
  }

  .our_team__slider {
    margin: 0 auto 50px;
    width: 1110px;
    position: relative;

    .card {
      max-width: 350px;
      height: 488px;
      text-align: center;
      margin: 0 15px 0 15px;
      position: relative;

      .text {
        background-color: #fff;
        width: 350px;
        height: 353px;
        position: absolute;
        top: 130px;
        z-index: -1;

        .name {
          font-family: "Proxima Nova Bold";
          font-size: 24px;
          color: #9f9acf;
          text-transform: uppercase;
          padding-top: 165px;
        }

        .position {
          font-family: "PTSans Italic";
          font-size: 24px;
          color: #665f60;
          margin: 40px 0 40px;
        }

        .social {
          background-color: #9f9acf;

          li {
            display: inline-block;
            margin: 20px 15px 20px 0;
          }
        }
      }
    }

    .slick-track {
      margin: 0 auto;
      display: flex;
    }

    .slick-list {
      overflow: hidden;
    }

    .slick-arrow {
      position: absolute;
      top: 56%;
      z-index: 1;
      font-size: 0px;
      width: 22px;
      height: 38px;
      border: none;
      cursor: pointer;
    }

    .slick-arrow:active,
    .slick-arrow:focus {
      outline: none;
    }

    .slick-arrow.slick-prev {
      left: -60px;
      background: url(../img/icons/left.png) 0 0 / 100% no-repeat;
    }

    .slick-arrow.slick-next {
      right: -60px;
      background: url(../img/icons/right.png) 0 0 / 100% no-repeat;
    }
  }
}

.contact {
  #map {
    height: 900px;
}
}