@font-face {
  font-family: "Proxima Nova Bold";
  src: url(../fonts/ProximaNova-Bold.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Semibold";
  src: url(../fonts/ProximaNova-Semibold.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSans Bold";
  src: url(../fonts/PTSans-Bold.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSans Italic";
  src: url(../fonts/PTSans-Italic.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSans Regular";
  src: url(../fonts/PTSans-Regular.woff);
  font-weight: normal;
  font-style: normal;
}

html {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
}



header {
  margin: 0 auto;
  background: url(../img/bgd/header_bgd.png) no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  background-attachment: fixed;
  padding-top: 35px;

  .header__menu_container {
    display: flex;
    width: 68.75%;
    margin: 0 auto 330px;
    justify-content: space-between;
    align-items: center;

    img {
      padding-bottom: 10px;
    }


    .header__menu__container__menu {
      display: grid;
      grid-template-columns: auto auto auto auto auto;
      grid-template-rows: auto;
      gap: 0 30px;
      grid-template-areas:
        "home_menu about_menu services_menu works_menu contact_menu";

      a {
        font-family: "Proxima Nova Semibold";
        font-size: 24px;
        color: #fff;
        text-transform: uppercase;
        transition: 0.3s;
        position: relative;

        &::after {
          position: absolute;
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background-color: transparent;
          top: 35px;
          transition: 0.3s;
        }

        &:hover {
          text-shadow: 1px 1px 10px rgba(9, 141, 242, 0.48);
        }

        &:hover::after {
          background-color: #fff;
          box-shadow: 1px 0px 10px 0px rgba(9, 141, 242, 0.48);
        }
      }
    }

    .home_menu {
      grid-area: home_menu;
    }

    .about_menu {
      grid-area: about_menu;
    }

    .services_menu {
      grid-area: services_menu;
    }

    .works_menu {
      grid-area: works_menu;
    }

    .contact_menu {
      grid-area: contact_menu;
    }
  }

  .header__mobile_menu {
    position: absolute;
    display: none;
  }

  .header__mobile_menu__button {
    position: fixed;
    top: 35px;
    right: 35px;
    z-index: 2;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #fff;
    transition: 0.3s;
  }

  .header__mobile_menu__button:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }

  .header__mobile_menu__lines::before,
  .header__mobile_menu__lines::after,
  .header__mobile_menu__lines {
    position: absolute;
    width: 42px;
    height: 2px;
    background-color: #aaa4bf;
    transition: 0.3s;
  }

  .header__mobile_menu__lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .header__mobile_menu__lines::before {
    content: "";
    top: -12px;
  }

  .header__mobile_menu__lines::after {
    content: "";
    top: 12px;
  }

  .header__mobile_menu_active .header__mobile_menu__lines {
    background-color: transparent;
  }

  .header__mobile_menu_active .header__mobile_menu__lines::before {
    top: 0;
    transform: rotate(45deg);
  }

  .header__mobile_menu_active .header__mobile_menu__lines::after {
    top: 0;
    transform: rotate(-45deg);
  }

  .header__mobile_menu__nav {
    padding-top: 140px;
    position: fixed;
    top: -5%;
    right: -100%;
    z-index: 1000;
    display: flex;
    flex-flow: column;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #aaa4bf;
    overflow-y: auto;
    transition: 0.3s;
  }

  .header__mobile_menu_active .header__mobile_menu__nav {
    right: 0;
    transition: 0.3s;
  }

  .header__mobile_menu__link {
    font-family: "Proxima Nova Semibold";
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 40px;
    transition: 0.3s;
    position: relative;
    cursor: pointer;
  }

  .header__mobile_menu__overlay {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .header__mobile_menu_active .header__mobile_menu__overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .header__container {
    margin: 0px auto;
    padding: 0 0 445px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;

    h1 {
      margin: 0 auto;
      font-family: "Proxima Nova Bold";
      font-size: 71px;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 45px;
    }

    p {
      font-family: "PTSans Italic.woff";
      font-size: 30px;
      color: #fff;
    }
  }
}

.about {
  margin: 0 auto;
  padding: 125px 0;
  background-color: #ebebeb;
  background-size: 100% 100%;

  .about__container {
    margin: 0 auto;
    display: flex;
    width: 71%;

    .about__container__picture {
      margin-right: 125px;
    }

    .about__container__text {
      padding-top: 80px;
      font-family: "PTSans Regular";
      font-size: 20px;
      color: #665f60;
      position: relative;

      & p:nth-child(2) {
        margin: 35px 0 95px;
      }

      span {
        font-family: "PTSans Bold";
      }

      .about__btn__container {
        display: flex;
        justify-content: center;
      }

      .about__btn {
        font-family: "PTSans Italic";
        font-size: 20px;
        color: #7d7a7c;
        padding: 20px 50px;
        border: 1px solid #7d7a7c;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
          background-color: #7d7a7c;
          color: #fff;
          box-shadow: 1px 0px 10px 0px rgba(9, 141, 242, 0.48);
        }
      }
    }
  }
}

.SERVICESES {
  margin: 0 auto;
  background-color: #ebebeb;
  background-size: 100% 100%;

  .SERVICESES__grid_container {
    margin: 0 auto;
    width: 71%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 400px 399px;
    gap: 0px 0px;
    grid-template-areas:
      "SERVICESES__GRAPHIC_DESIGN SERVICESES__WEB_DEVELOPMENT SERVICESES__OUR_SERVICES"
      "SERVICESES__SEO_MARKETING SERVICESES__MOBILE_DEVELOPMENT SERVICESES__OUR_SERVICES";

    .SERVICESES__OUR_SERVICES {
      grid-area: SERVICESES__OUR_SERVICES;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 110px 65px 0;
      background: url(../img/img/unsplash_523ae1f5502d6_1.png) no-repeat;
      background-position: cover;
      background-size: 100% 100%;
      text-align: center;

      img {
        width: 62px;
      }

      h3 {
        margin: 30px 0 123px 0;
        font-family: "Proxima Nova Semibold";
        font-size: 35px;
        color: #fff;
      }

      p {
        display: block;
        text-align: center;
        font-family: "PTSans Italic";
        font-size: 18px;
        color: #fff;

        span {
          font-family: "PTSans Bold";
        }
      }
    }
  }

  .SERVICESES__GRAPHIC_DESIGN {
    grid-area: SERVICESES__GRAPHIC_DESIGN;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 70px 0;
    background-color: #dbdbdb;
    text-align: center;

    img {
      width: 47px;
    }

    h3 {
      margin: 30px 0 25px 0;
      font-family: "PTSans Bold";
      font-size: 24px;
      color: #665f60;
    }

    p {
      display: block;
      text-align: center;
      font-family: "PTSans Italic";
      font-size: 18px;
      color: #665f60;
    }
  }

  .SERVICESES__WEB_DEVELOPMENT {
    grid-area: SERVICESES__WEB_DEVELOPMENT;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 70px 0;
    text-align: center;

    img {
      width: 58px;
    }

    h3 {
      margin: 30px 0 25px 0;
      font-family: "PTSans Bold";
      font-size: 24px;
      color: #665f60;
    }

    p {
      display: block;
      text-align: center;
      font-family: "PTSans Italic";
      font-size: 18px;
      color: #665f60;
    }
  }

  .SERVICESES__SEO_MARKETING {
    grid-area: SERVICESES__SEO_MARKETING;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 70px 0;
    text-align: center;

    img {
      width: 47px;
    }

    h3 {
      margin: 30px 0 25px 0;
      font-family: "PTSans Bold";
      font-size: 24px;
      color: #665f60;
    }

    p {
      display: block;
      text-align: center;
      font-family: "PTSans Italic";
      font-size: 18px;
      color: #665f60;
    }
  }

  .SERVICESES__MOBILE_DEVELOPMENT {
    grid-area: SERVICESES__MOBILE_DEVELOPMENT;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 65px 0;
    background-color: #dbdbdb;
    text-align: center;

    img {
      width: 36px;
    }

    h3 {
      margin: 30px 0 25px 0;
      font-family: "PTSans Bold";
      font-size: 24px;
      color: #665f60;
    }

    p {
      display: block;
      text-align: center;
      font-family: "PTSans Italic";
      font-size: 18px;
      color: #665f60;
    }
  }
}

.works {
  margin: 0 auto;
  text-align: center;
  padding: 50px 0 0 0;
  background: url(../img/bgd/works_bgd.png) no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 100% 100%;

  h2 {
    margin: 35px 0 70px;
    font-family: "Proxima Nova Semibold";
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
  }

  .works__slider {
    margin: 0 auto 50px;
    width: 45.63%;
    position: relative;
  }

  .slick-track {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .slick-list {
    overflow: hidden;
  }

  .slick-arrow {
    position: absolute;
    top: 40%;
    z-index: 1;
    font-size: 0;
    width: 22px;
    height: 38px;
    border: none;
    cursor: pointer;
  }

  .slick-arrow:active,
  .slick-arrow:focus {
    outline: none;
  }

  .slick-arrow.slick-prev {
    left: -30%;
    background: url(../img/icons/arrow_left.png) 0 0 / 100% no-repeat;
  }

  .slick-arrow.slick-next {
    right: -30%;
    background: url(../img/icons/arrow_right.png) 0 0 / 100% no-repeat;
  }

  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slick-dots li {
    margin: 45px 5px 0 0;
    padding: 0;
  }

  .slick-dots li button {
    display: block;
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 0;
  }

  .slick-dots li.slick-active {
    font-size: 0;
    background-color: #fff;
    border-radius: 50%;
    padding: 0;
  }

  .works__btn {
    font-family: "PTSans Italic";
    font-size: 20px;
    color: #fff;
    padding: 20px 45px;
    margin-bottom: 50px;
    border: 1px solid #fff;
    background-color: transparent;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background-color: #fff;
      color: #b5b3d7;
      box-shadow: 1px 0px 10px 0px rgba(9, 141, 242, 0.48);
    }
  }
}

.our_team {
  margin: 0 auto;
  padding: 55px 0 100px 0;
  background-color: #ebebeb;
  background-size: 100% 100%;
  text-align: center;

  h2 {
    margin: 35px 0 195px;
    font-family: "Proxima Nova Semibold";
    font-size: 36px;
    color: #665f60;
    text-transform: uppercase;
  }

  .card {
    height: 488px;
    text-align: center;
    position: relative;

    .face {
      position: absolute;
      left: 14%;
      z-index: 1;
    }

    .text {
      background-color: #fff;
      width: 350px;
      height: 353px;
      position: absolute;
      top: 130px;

      .name {
        font-family: "Proxima Nova Bold";
        font-size: 24px;
        color: #9f9acf;
        text-transform: uppercase;
        padding-top: 165px;
      }

      .position {
        font-family: "PTSans Italic";
        font-size: 24px;
        color: #665f60;
        margin: 40px 0 40px;
      }

      .social {
        background-color: #9f9acf;

        li {
          display: inline-block;
          margin: 20px 15px 20px 0;
          border-radius: 50%;

          a {
            :focus {
              border: none;
            }
          }

          &:hover {
            box-shadow: 1px 0px 10px 0px rgba(9, 141, 242, 0.48);
          }
        }
      }
    }
  }

  .our_team__slider {
    margin: 0 auto;
    position: relative;

    .slick-track {
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    .slick-list {
      overflow: hidden;
    }

    .slick-arrow {
      position: absolute;
      top: 56%;
      z-index: 1;
      font-size: 0px;
      width: 22px;
      height: 38px;
      border: none;
      cursor: pointer;
    }

    .slick-arrow:active,
    .slick-arrow:focus {
      outline: none;
    }

    .slick-arrow.slick-prev {
      left: -60px;
      background: url(../img/icons/left.png) 0 0 / 100% no-repeat;
    }

    .slick-arrow.slick-next {
      right: -60px;
      background: url(../img/icons/right.png) 0 0 / 100% no-repeat;
    }

    .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .slick-dots li {
      margin: 45px 5px 0 0;
      padding: 0;
    }

    .slick-dots li button {
      display: block;
      font-size: 0;
      width: 10px;
      height: 10px;
      background-color: transparent;
      border: 1px solid #b5b2d6;
      border-radius: 50%;
      padding: 0;
    }

    .slick-dots li.slick-active {
      font-size: 0;
      background-color: #b5b2d6;
      border-radius: 50%;
      padding: 0;
    }
  }
}

.contact {
  position: relative;

  #map {
    height: 950px;
  }

  .title__container {
    max-width: 240px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;

    h2 {
      margin: 25px 0 0;
      font-family: "Proxima Nova Semibold";
      font-size: 36px;
      color: #fff;
      text-transform: uppercase;
    }
  }

  .contacts__input {
    position: absolute;
    left: 0;
    right: 0;
    top: 435px;
    width: 53.75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    gap: 30px 30px;
    grid-template-areas:
      "name mail"
      "message message"
      "buttoh buttoh";
  }

  .name {
    grid-area: name;
    display: flex;
  }

  .mail {
    grid-area: mail;
    display: flex;
  }

  .message {
    grid-area: message;
    display: flex;

    textarea {
      width: 100%;
      height: 200px;
      background-color: #d8d6e1;
      opacity: 0.7;
      border-radius: 4px;
      border: none;
      padding: 30px 0 0 30px;

      &:focus {
        box-shadow: 1px 0px 10px 0px rgba(9, 141, 242, 0.48) inset;
      }
    }
  }

  .inputs {
    height: 57px;
    width: 100%;
    background-color: #d8d6e1;
    opacity: 0.7;
    border-radius: 4px;
    border: none;
    padding-left: 30px;

    &:focus {
      box-shadow: 1px 0px 10px 0px rgba(9, 141, 242, 0.48) inset;
    }
  }

  ::placeholder {
    font-family: "PTSans Italic";
    font-size: 18px;
    color: #fff;
  }

  .buttoh {
    grid-area: buttoh;
    display: flex;
    justify-content: center;

    .btn {
      font-family: "Proxima Nova Bold";
      font-size: 20px;
      color: #fff;
      text-transform: uppercase;
      background-color: #9f9acf;
      margin: 25px 0 0;
      padding: 25px 70px;
      border: 2px solid transparent;
      border-radius: 4px;
      border-bottom: 2px solid #8783b0;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: #9f9acf;
        background-color: #ebebeb;
        border: 2px solid #9f9acf;
        box-shadow: 1px 0px 10px 0px rgba(9, 141, 242, 0.48);
      }
    }
  }

  .contacts__address {
    display: flex;
    position: absolute;
    top: 220px;
    right: -260px;
    transition: 0.3s;

    &:hover {
      right: 0px;
      box-shadow: 1px 0px 10px 0px rgba(9, 141, 242, 0.48);
    }
  }

  .contacts__phone {
    display: flex;
    position: absolute;
    top: 310px;
    right: -260px;
    transition: 0.3s;

    &:hover {
      right: 0px;
      box-shadow: 1px 0px 10px 0px rgba(9, 141, 242, 0.48);
    }
  }

  .icons {
    display: flex;
    width: 90px;
    height: 90px;
    background-color: #9f9acf;
    justify-content: center;
    align-items: center;
  }

  .text {
    display: flex;
    width: 240px;
    background-color: #fff;
    opacity: 0.7;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    font-family: "PTSans Regular";
    font-size: 18px;
    color: #665f60;
  }

  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 84px;
    background-color: #b3afd4;
    position: absolute;
    right: 128px;
    top: 825px;

    &:hover {
      box-shadow: 1px 0px 10px 0px rgba(9, 141, 242, 0.48);
    }
  }
}

footer {
  padding: 75px 0 75px;
  background-color: #9f9acf;

  .footer__container {
    width: 68.75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    p {
      font-family: "PTSans Regular";
      font-size: 18px;
      color: #fff;

      span {
        font-family: "PTSans Bold";
      }
    }
  }

  .social {
    li {
      display: inline-block;
      margin: 0 25px 0 0;
      border-radius: 50%;

      &:nth-child(5) {
        margin: 0;
      }

      &:hover {
        box-shadow: 1px 0px 10px 0px rgba(9, 141, 242, 0.48);
      }
    }
  }
}