@font-face {
  font-family: "Proxima Nova Bold";
  src: url(../fonts/ProximaNova-Bold.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Semibold";
  src: url(../fonts/ProximaNova-Semibold.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSans Bold";
  src: url(../fonts/PTSans-Bold.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSans Italic";
  src: url(../fonts/PTSans-Italic.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSans Regular";
  src: url(../fonts/PTSans-Regular.woff);
  font-weight: normal;
  font-style: normal;
}

html {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
}

header {
  margin: 0 auto;
  width: 100%;
  background: url(../img/bgd/header_bgd.png) no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  background-attachment: fixed;
  padding-top: 35px;
}

header .header__menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: 0 auto 330px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__menu__container img {
  padding-bottom: 10px;
}

header .header__menu__container .header__menu__container__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 51%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header__menu__container .header__menu__container__menu .header__menu__container__menu_link {
  font-family: "Proxima Nova Semibold";
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-bottom: 10px;
}

header .header__menu__container .header__menu__container__menu .header__menu__container__menu_link:hover {
  border-bottom: 2px solid #fff;
}

header .header__container {
  margin: 0px auto;
  padding: 0 0 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 59%;
}

header .header__container h1 {
  font-family: "Proxima Nova Bold";
  font-size: 71px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 45px;
}

header .header__container p {
  font-family: "PTSans Italic.woff";
  font-size: 30px;
  color: #fff;
}

.about {
  margin: 0 auto;
  width: 100%;
  padding: 125px 0;
  background-color: #ebebeb;
  background-size: 100% 100%;
}

.about .about__container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 71%;
}

.about .about__container .about__container__picture {
  margin-right: 125px;
}

.about .about__container .about__container__text {
  padding-top: 80px;
  font-family: "PTSans Regular";
  font-size: 20px;
  color: #665f60;
  position: relative;
}

.about .about__container .about__container__text p:nth-child(2) {
  margin: 35px 0 95px;
}

.about .about__container .about__container__text span {
  font-family: "PTSans Bold";
}

.about .about__container .about__container__text .about__btn {
  position: absolute;
  left: 44%;
  font-family: "PTSans Italic";
  font-size: 20px;
  color: #7d7a7c;
  padding: 20px 50px;
  border: 1px solid #7d7a7c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.about .about__container .about__container__text .about__btn:hover {
  background-color: #7d7a7c;
  color: #fff;
  -webkit-box-shadow: 1px 0px 10px 0px rgba(9, 141, 242, 0.48);
          box-shadow: 1px 0px 10px 0px rgba(9, 141, 242, 0.48);
}

.SERVICESES {
  margin: 0 auto;
  width: 100%;
  background-color: #ebebeb;
  background-size: 100% 100%;
}

.SERVICESES .SERVICESES__grid_container {
  margin: 0 auto;
  width: 71%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33.33% 33.33% 33.33%;
      grid-template-columns: 33.33% 33.33% 33.33%;
  -ms-grid-rows: 400px 399px;
      grid-template-rows: 400px 399px;
  gap: 0px 0px;
      grid-template-areas: "SERVICESES__GRAPHIC_DESIGN SERVICESES__WEB_DEVELOPMENT SERVICESES__OUR_SERVICES" "SERVICESES__SEO_MARKETING SERVICESES__MOBILE_DEVELOPMENT SERVICESES__OUR_SERVICES";
}

.SERVICESES .SERVICESES__grid_container .SERVICESES__OUR_SERVICES {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: SERVICESES__OUR_SERVICES;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 110px 65px 0;
  background: url(../img/img/unsplash_523ae1f5502d6_1.png) no-repeat;
  background-position: cover;
  background-size: 100% 100%;
}

.SERVICESES .SERVICESES__grid_container .SERVICESES__OUR_SERVICES img {
  width: 62px;
}

.SERVICESES .SERVICESES__grid_container .SERVICESES__OUR_SERVICES h2 {
  margin: 30px 0 123px 0;
  font-family: "Proxima Nova Semibold";
  font-size: 35px;
  color: #fff;
}

.SERVICESES .SERVICESES__grid_container .SERVICESES__OUR_SERVICES p {
  display: block;
  text-align: center;
  font-family: "PTSans Italic";
  font-size: 18px;
  color: #fff;
}

.SERVICESES .SERVICESES__grid_container .SERVICESES__OUR_SERVICES p span {
  font-family: "PTSans Bold";
}

.SERVICESES .SERVICESES__GRAPHIC_DESIGN {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: SERVICESES__GRAPHIC_DESIGN;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 70px 0;
  background-color: #dbdbdb;
}

.SERVICESES .SERVICESES__GRAPHIC_DESIGN img {
  width: 47px;
}

.SERVICESES .SERVICESES__GRAPHIC_DESIGN h3 {
  margin: 30px 0 25px 0;
  font-family: "PTSans Bold";
  font-size: 24px;
  color: #665f60;
}

.SERVICESES .SERVICESES__GRAPHIC_DESIGN p {
  display: block;
  text-align: center;
  font-family: "PTSans Italic";
  font-size: 18px;
  color: #665f60;
}

.SERVICESES .SERVICESES__WEB_DEVELOPMENT {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: SERVICESES__WEB_DEVELOPMENT;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 70px 0;
}

.SERVICESES .SERVICESES__WEB_DEVELOPMENT img {
  width: 58px;
}

.SERVICESES .SERVICESES__WEB_DEVELOPMENT h3 {
  margin: 30px 0 25px 0;
  font-family: "PTSans Bold";
  font-size: 24px;
  color: #665f60;
}

.SERVICESES .SERVICESES__WEB_DEVELOPMENT p {
  display: block;
  text-align: center;
  font-family: "PTSans Italic";
  font-size: 18px;
  color: #665f60;
}

.SERVICESES .SERVICESES__SEO_MARKETING {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: SERVICESES__SEO_MARKETING;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 70px 0;
}

.SERVICESES .SERVICESES__SEO_MARKETING img {
  width: 47px;
}

.SERVICESES .SERVICESES__SEO_MARKETING h3 {
  margin: 30px 0 25px 0;
  font-family: "PTSans Bold";
  font-size: 24px;
  color: #665f60;
}

.SERVICESES .SERVICESES__SEO_MARKETING p {
  display: block;
  text-align: center;
  font-family: "PTSans Italic";
  font-size: 18px;
  color: #665f60;
}

.SERVICESES .SERVICESES__MOBILE_DEVELOPMENT {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: SERVICESES__MOBILE_DEVELOPMENT;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 65px 0;
  background-color: #dbdbdb;
}

.SERVICESES .SERVICESES__MOBILE_DEVELOPMENT img {
  width: 36px;
}

.SERVICESES .SERVICESES__MOBILE_DEVELOPMENT h3 {
  margin: 30px 0 25px 0;
  font-family: "PTSans Bold";
  font-size: 24px;
  color: #665f60;
}

.SERVICESES .SERVICESES__MOBILE_DEVELOPMENT p {
  display: block;
  text-align: center;
  font-family: "PTSans Italic";
  font-size: 18px;
  color: #665f60;
}

.works {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding: 50px 0 0 0;
  background: url(../img/bgd/works_bgd.png) no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.works h2 {
  margin: 35px 0 70px;
  font-family: "Proxima Nova Semibold";
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
}

.works .works__slider {
  margin: 0 auto 50px;
  width: 45.63%;
  position: relative;
}

.works .slick-track {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.works .slick-list {
  overflow: hidden;
}

.works .slick-arrow {
  position: absolute;
  top: 40%;
  z-index: 1;
  font-size: 0;
  width: 22px;
  height: 38px;
  border: none;
  cursor: pointer;
}

.works .slick-arrow:active,
.works .slick-arrow:focus {
  outline: none;
}

.works .slick-arrow.slick-prev {
  left: -30%;
  background: url(../img/icons/arrow_left.png) 0 0/100% no-repeat;
}

.works .slick-arrow.slick-next {
  right: -30%;
  background: url(../img/icons/arrow_right.png) 0 0/100% no-repeat;
}

.works .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works .slick-dots li {
  margin: 45px 5px 0 0;
  padding: 0;
}

.works .slick-dots li button {
  display: block;
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 0;
}

.works .slick-dots li.slick-active {
  font-size: 0;
  background-color: #fff;
  border-radius: 50%;
  padding: 0;
}

.works .works__btn {
  font-family: "PTSans Italic";
  font-size: 20px;
  color: #fff;
  padding: 20px 45px;
  margin-bottom: 50px;
  border: 1px solid #fff;
  background-color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.works .works__btn:hover {
  background-color: #fff;
  color: #b5b3d7;
  -webkit-box-shadow: 1px 0px 10px 0px rgba(9, 141, 242, 0.48);
          box-shadow: 1px 0px 10px 0px rgba(9, 141, 242, 0.48);
}

.our_team {
  margin: 0 auto;
  width: 100%;
  padding: 55px 0 100px 0;
  background-color: #ebebeb;
  background-size: 100% 100%;
  text-align: center;
  z-index: -1;
}

.our_team h2 {
  margin: 35px 0 195px;
  font-family: "Proxima Nova Semibold";
  font-size: 36px;
  color: #665f60;
  text-transform: uppercase;
}

.our_team .our_team__slider {
  margin: 0 auto 50px;
  width: 1110px;
  position: relative;
}

.our_team .our_team__slider .card {
  max-width: 350px;
  height: 488px;
  text-align: center;
  margin: 0 15px 0 15px;
  position: relative;
}

.our_team .our_team__slider .card .text {
  background-color: #fff;
  width: 350px;
  height: 353px;
  position: absolute;
  top: 130px;
  z-index: -1;
}

.our_team .our_team__slider .card .text .name {
  font-family: "Proxima Nova Bold";
  font-size: 24px;
  color: #9f9acf;
  text-transform: uppercase;
  padding-top: 165px;
}

.our_team .our_team__slider .card .text .position {
  font-family: "PTSans Italic";
  font-size: 24px;
  color: #665f60;
  margin: 40px 0 40px;
}

.our_team .our_team__slider .card .text .social {
  background-color: #9f9acf;
}

.our_team .our_team__slider .card .text .social li {
  display: inline-block;
  margin: 20px 15px 20px 0;
}

.our_team .our_team__slider .slick-track {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our_team .our_team__slider .slick-list {
  overflow: hidden;
}

.our_team .our_team__slider .slick-arrow {
  position: absolute;
  top: 56%;
  z-index: 1;
  font-size: 0px;
  width: 22px;
  height: 38px;
  border: none;
  cursor: pointer;
}

.our_team .our_team__slider .slick-arrow:active,
.our_team .our_team__slider .slick-arrow:focus {
  outline: none;
}

.our_team .our_team__slider .slick-arrow.slick-prev {
  left: -60px;
  background: url(../img/icons/left.png) 0 0/100% no-repeat;
}

.our_team .our_team__slider .slick-arrow.slick-next {
  right: -60px;
  background: url(../img/icons/right.png) 0 0/100% no-repeat;
}
/*# sourceMappingURL=style.css.map */